  <!-- Terminal -->
<div id="main-terminal" class="terminal container w-25 h-70">
    <div class="row">
        <div class="col-12 mx-auto" >
            <div class="d-flex flex-row mb-4 login-row">
                <div class="col-1" style="align-self:center">
                    <div><p id="userNameTerminal">Username<span class="blinking">:</span></p></div>
                </div>
                <div class="p-1 input-group mx-auto col-6 ">
                    <input [(ngModel)]="model.username" id="usernameInput" placeholder="" name="userInput" style="background-color: black; color:white" type="email" class="form-control p-1">
                </div>
            </div>
    
            <div class="d-flex flex-row mb-4 login-row">
                <div class="col-1" style="align-self:center">
                    <div ><p id="passTerminal">Password<span class="blinking">:</span></p></div>
                </div>
                <div class="p-1 input-group mx-auto col-6">
                    <input [(ngModel)]="model.password" id="passInput" placeholder="" name="userInput" style="background-color: black; color:white" type="password" class="form-control p-1">
                </div>
            </div>
            
            <!-- Email Login Button Row -->
            <div class="d-flex flex-row mb-2 login-row">
                <div class="mx-auto col-10">
                    <button (click)="this.login()" class="w-100 btn btn-block btn-app-primary border-white">Login</button>
                </div>
            </div>

            <!-- Google Login Button row -->
            <div class="d-flex flex-row mb-2 login-row">
                <div class="col-10 mx-auto">
                    <a class=" w-100 btn btn-block btn-black border-white" role="button"   (click)="this.loginGoogle()">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        <span style="color:white;">Sign in with Google</span>
                    </a>
                </div>
            </div>

            <!-- Create Account Link -->
            <div class="d-flex flex-row-reverse mb-3 login-row">
                <div id="createAccountLink" class="col-6 float-right">
                    <a (click)="createAccount()" class="w-100 d-flex flex-row-reverse">Create Account</a>
                </div>
            </div>
            
           <!-- <div id="createAccountLink" class="d-flex flex-row float-right mb-4 login-row">
                <div class="mx-auto col-12">
                    <a (click)="createAccount()" class="btn btn-block btn-black border-white">Create Account</a>
                </div>
            </div>-->
    
            <div id="meeting-info">
                <div class="d-flex flex-row"></div>
            </div>
        </div>
    </div>
</div>

<!-- DEBUG NgModel -->
<!-- <div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <pre style="color: white">
                {{ model | json }}
            </pre>
        </div>
    </div>
</div> -->
