<div id="preferencesForm">
    <div class="mb-3 form-check">
        <input [(ngModel)]="model.enablePushNotifications" id="enablePushNotifications" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Push Notifications</label>
      </div>

    <div *ngIf="model.enablePushNotifications">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input [(ngModel)]="model.emailAddress" id="emailAddress" name="emailAddress" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
    </div>
</div>