<!-- <div id="debugCalendarButton"class="container">
  <button type="button" class="btn btn-primary" (click)="requestCalendarData()">Get Data</button>
</div> -->
<div class="container formMain">
  <div class="row">
    <div class="col-12">
      <full-calendar #fullcalendar id="calendar-main" [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>

<!-- TODO: HTMLDialogElement for some reason won't show/hide with typescript and Ng13... hacked with ngIf for now -->
<dialog *ngIf="!!isModalOpen" id="addEventDialog"  #addEventDialog>
  <div class="container h-100 float-left">
      <div class="row">
          <h1>Mindful Log</h1>
      </div>
      <div class="row mb-3">
          <i>{{this.currentEventModel.title}}</i>
      </div>
      <div class="row mb-2">
          <label for="eventDateInput">Date</label>
          <input [(ngModel)]="this.currentEventModel.date" class="form-control" id="eventDateInput" type="date" placeholder="YYYY/MM/DD">
      </div>
      <div class="row mb-2">
        <label for="eventDateInput">Number of Minutes</label>
        <input [(ngModel)]="this.currentEventModel.timeMinutes" class="form-control" id="eventDateInput" type="number" placeholder="Minutes...">
    </div>
      <div class="row mb-3">
          <label for="eventMinutesInput">Event Description</label>
          <input [(ngModel)]="this.currentEventModel.eventDescription" class="form-control" id="eventMinutesInput" type="text" placeholder="{{this.currentEventModel.title}} notes...">
      </div>
      <div class="row mb-3">
        <div class="col-2">
            <button (click)="colorSelected('color1')" id="colorPickerInput" class="w-100 btn" [style.background]="userPreferences.color1"></button>
          <!-- TODO: Additional Preferences (examples: Event Colors, calendar theme, include weekends?, defaults for new events?) -->
        </div>
        <div class="col-2">
            <button (click)="colorSelected('color2')" id="colorPickerInput" class="w-100 btn" [style.background]="userPreferences.color2"></button>
        </div>
        <div class="col-2">
            <button (click)="colorSelected('color3')" id="colorPickerInput" class="w-100 btn" [style.background]="userPreferences.color3"></button>
        </div>
        <div class="col-2">
            <button (click)="colorSelected('color4')" id="colorPickerInput" class="w-100 btn" [style.background]="userPreferences.color4"></button>
        </div>
        <div class="col-2">
            <button (click)="colorSelected('color5')" id="colorPickerInput" class="w-100 btn" [style.background]="userPreferences.color5"></button>
        </div>
        <div class="col-2">
            <button (click)="colorSelected('color6')" id="colorPickerInput" class="w-100 btn" [style.background]="userPreferences.color6"></button>
        </div>
      </div>
      <div class="row">
        <div class="flex-row w-25">
          <button (click)="deleteModal()" class="mr-5 btn btn-danger">Delete</button>

        </div>
        <div class="d-flex flex-row-reverse w-75">
          <button (click)="saveModal()" class="ml-3 btn btn-primary">Save</button>
          <button (click)="closeModal()" class="btn btn-secondary">Close</button>
        </div>

      </div>
  </div>
</dialog>

<dialog *ngIf="!!isOverviewModelOpen" id="addEventDialog"  #addEventDialog>
  <div class="container h-100 float-left">
      <div class="row">
          <h1>Mindful Logger</h1>
      </div>
      <div class="row mb-3">
          <p>{{dailyOverviewModel.description}}</p>
      </div>
      <div>
        <button (click)="closeOverviewModal()" class="btn btn-secondary">Close</button>
      </div>
     
  </div>
</dialog>