#main-content{
    min-height: 98vh !important;
    min-width: 100vw !important;
    height: 95vh !important;
    width: 95vw !important;
    z-index: 3 !important;
    position: fixed;
}

#main-center-content{
    height: 95vh !important;
    width: 95vw !important;
}

#app-header {
    height: 2vh !important;
}