#main-content{
    min-height: 90vh !important;
    min-width: 98vw !important;
    height: 90vh !important;
    width: 98vw !important;
    z-index: 3 !important;
    position: fixed;
}

#main-center-content{
    height: 90vh !important;
    width: 98vw !important;
}

#app-header {
    position: absolute;
    z-index: 999 !important;
    height: 2vh !important;
    min-width: 100vw !important;
}