<div id="preferencesFormMain" class="container formMain w-100 h-50">
    <div class="row h-75" >
        <div class="col-6 h-100 mx-auto">
            <div class="container mt-5 h-100 w-100">
                <div class="row h-100 mx-auto">
                    <div class="col-12 mx-auto">
                        <app-preferences-form [model]="this.model"></app-preferences-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row h-25" >
        <div class="col-2 h-100">
            <div class="d-flex flex-column bd-highlight mb-3 h-100">
                <button (click)="cancel()" class="btn btn-secondary mt-auto p-2 mb-3 bd-highlight">Discard</button>
            </div>
        </div>
        <div class="col-8"></div>
        <div class="col-2 h-100">
            <div class="d-flex flex-column bd-highlight mb-3 h-100">
                <button (click)="save()" class="btn btn-primary mt-auto p-2 mb-3 bd-highlight">Save</button>
            </div>
        </div>
    </div>
</div>