<div id="preferencesFormMain" class="container formMain w-100 h-50">
    <div class="row h-75" >
        <div class="col-6 h-100 mx-auto">
            <div class="container mt-5 h-100 w-100">
                <div class="row h-100 mx-auto">
                    <div class="col-12 mx-auto">
                        <div id="preferencesForm">
                            <div class="container">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="dailyGoal">Daily Minute Goal</label>
                                    <input [(ngModel)]="model.dailyMinuteGoal" class="form-control" type="number" id="dailyMinuteGoal" name="dailyMinuteGoal" placeholder="Minutes...">
                                </div>
                                </div>
                              <div class="row mb-3">
                                <div class="col">
                                  <label for="trackingDescription">What would you like to track?</label>
                                  <input [(ngModel)]="model.trackingDescription" class="form-control" type="text" id="trackingDescription" name="trackingDescription" placeholder="Description...">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-2">
                                    <input id="colorPickerInput" [(colorPicker)]="model.color1" [style.background]="model.color1"/>
                                  <!-- TODO: Additional Preferences (examples: Event Colors, calendar theme, include weekends?, defaults for new events?) -->
                                </div>
                                <div class="col-2">
                                    <input id="colorPickerInput" [(colorPicker)]="model.color2" [style.background]="model.color2"/>
                                </div>
                                <div class="col-2">
                                    <input id="colorPickerInput" [(colorPicker)]="model.color3" [style.background]="model.color3"/>
                                </div>
                                <div class="col-2">
                                    <input id="colorPickerInput" [(colorPicker)]="model.color4" [style.background]="model.color4"/>
                                </div>
                                <div class="col-2">
                                    <input id="colorPickerInput" [(colorPicker)]="model.color5" [style.background]="model.color5"/>
                                </div>
                                <div class="col-2">
                                    <input id="colorPickerInput" [(colorPicker)]="model.color6" [style.background]="model.color6"/>
                                </div>
                              </div>
                            </div>
                          
                            <!-- TODO: Push Notifications Preferences -->
                              <!-- <div class="mb-3 form-check">
                                  <input [(ngModel)]="model.enablePushNotifications" id="enablePushNotifications" type="checkbox" class="form-check-input" id="exampleCheck1">
                                  <label class="form-check-label" for="exampleCheck1">Push Notifications</label>
                              </div> -->
                          
                              <!-- <div *ngIf="model.enablePushNotifications">
                                  <div class="mb-3">
                                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                                      <input [(ngModel)]="model.emailAddress" id="emailAddress" name="emailAddress" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                              </div> -->
<!--                           
                            <div>
                            <pre>{{model |json }}</pre>
                            </div> -->
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" >
        <div class="col-12">
            <button (click)="cancel()" class="btn btn-secondary float-left">Cancel</button>
                <button (click)="save()" class="btn btn-primary float-right bd-highlight">Save</button>
        </div>
    </div>
</div>